:root {
    --p-color: #142712;
    --s-color: #75a51bf3;
    --t-color: rgba(255, 255, 255, 0.932);
}

h1,
h2,
h3 {
    font-family: "Inter", "Open-Sans";
}

h1 {
    display: block;
}

p,
a {
    font-family: "Inter", "Open-Sans";
}

body {
    text-align: center;
    font-family: "Inter", "Open-Sans";
}

main h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-weight: 600;
}

label {
    display: block;
    color: var(--p-color);
    font-family: "Inter", "Open-Sans";
    padding-top: .2rem;
    font-size: 1.15rem;
}

h3 {
    font-size: 1.3rem;
    color: var(--p-color);
    margin: 1.5rem 0 .5rem 0;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
textarea,
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border-radius: 4px;
    border-left-width: 5px;
    font-size: 1rem;
    width: 250px;
}

input:required {
    border-left-color: rgb(247, 18, 18);
}

input:focus {
    border-left-color: yellow;
    outline: none;
}

input:required:valid {
    border-left-color: rgb(137, 247, 28);
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--p-color);
    color: var(--t-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Inter", "Open-Sans";
    transition: background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

input[type=submit]:hover {
    background-color: rgb(203, 248, 1);
    border: 2px solid rgb(8, 4, 46);
    color:rgb(22, 13, 71);
    transform: scale(1.05);
}

input[type=submit]:focus {
    outline: 3px dashed goldenrod;
}


input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

section label {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: var(--p-color);
    font-size: 1.1rem;
}


#membershipLevels {
    text-align: center;
    margin: 1rem;
}

#membershipLevels #levels section {
    margin-top: 10px;
    padding: 1.5rem;
    border-radius: 1rem;
}

#membershipLevels button {
    padding: .6rem;
    border-radius: 1rem;
    font-weight: 500;
    background-color: var(--p-color);
    color: var(--t-color);
    cursor: pointer;
    font-family: "Inter", "Open-Sans";
    transition: background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

#membershipLevels button:hover {
    font-weight: 900;
    background-color: var(--t-color);
    border: 2px solid var(--p-color);
    color: var(--p-color);
    transform: scale(1.1);
}

.NP {
    background-color: rgb(95, 180, 16);
    border: solid rgb(29, 141, 29) 3px;
    animation: cardsAnimation 2s;
}

.B {
    background-color: #d4781c;
    animation: cardsAnimation 2.5s;
    border: solid #CD7F32 3px;
}

.S {
    background-color: rgb(150, 147, 147);
    animation: cardsAnimation 3s;
    border: solid silver 3px;
}

.G {
    background-color: #d3ad2f;
    animation: cardsAnimation 3.5s;
    border: solid #d4af37 3px;

}

@keyframes cardsAnimation {
    from {
        font-size: 1.25rem;
        background-color: var(--t-color);
        transform: translate(90%);
    }

    50% {
        transform: translate(-10%);
    }

    to {
        font-size: 1rem;
        transform: translate(0%);
    }

}

#levelsInfo {
    text-align: start;
    margin: auto;
    padding: 1rem;
    width: 80%;
}

#levelsInfo h2 {
    margin-top: 50px;
}

#levelsInfo h3 {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    text-align: center;
}

#levelsInfo h4 {
    font-size: 1.2rem;
    text-align: center;
}

#levelsInfo ul {
    margin: 0 auto;
    width: fit-content;
}

#levelsInfo li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

#levelsInfo li,
#levelsInfo p {
    font-size: 1.2rem;
}

#closeModal {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#membershipLevels #closeModal:hover {
    color: rgb(14, 13, 13);
    background-color: #f7e014;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--s-color);
}

header div p,
header div h2 {
    margin: 2px;
}

header img,
header div {
    margin-left: 10px;
}

nav {
    background-color: var(--p-color);
}

#navButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--p-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
}

#navButton::before {
    content: "\2630";
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--t-color);
    text-decoration: none;
    font-size: 1.3rem;
}

ul.menuLinks a:hover {
    background-color: rgba(2, 2, 2, 0.849);
}

li.active a::before {
    content: "📍";
}

ul.menuLinks {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#navButton.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: 1rem;
    margin: auto;
    margin-top: 90px;
}

footer div {
    margin-left: 2rem;
}